html, body {color: #000; background-color: #fff; margin: 0; padding: 0; font-size:9pt; font-family: Tahoma;}
table {width: 100%;}
table td {padding: 0; border-width: 0; vertical-align: top; }


a {color: #666; text-decoration: none; font-weight: normal; background-color: transparent;}
a:hover {color: #900093;}

h1 {font-size:1.4em;}
h2 {font-size:1.3em;}
h3 {font-size:1.2em;}
h4 {font-size:1.1em;}
h5 {font-size:1em;}
ul { margin: 2px; padding: 2px; list-style: disc inside; text-align: left;}
ol { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}
li { margin-left: 2px; color: #900093;}

input.formButton {}

.item {border: 1px solid #666;}
.itemHead {padding: 3px; background-color: #900093; color: #fff;}
.itemInfo {text-align: right; padding: 3px; background-color: #efefef}
.itemTitle a {font-size: 1.2em; font-weight: bold; font-variant: small-caps; color: #fff; background-color: transparent;}
.itemPoster {font-size: .9em; font-style:italic;}
.itemPostDate {font-size: .9em; font-style:italic;}
.itemStats {font-size: .9em; font-style:italic;}
.itemBody {padding-left: 5px;}
.itemText {margin-top: 5px; margin-bottom: 5px; line-height: 1.5em;}
.itemText:first-letter {font-size: 1.3em; font-weight: bold;}
.itemFoot {text-align: right; padding: 3px; background-color: #efefef;}
.itemAdminLink {font-size: .9em;}
.itemPermaLink {font-size: .9em;}

#miniheader {
    margin :                0;
    padding :               0;
    height:                 44px;
    background:             #ffffff url(mini.png) repeat-x left top;
    color:                  #000000;
    border:                 1px solid #000;
	font-family: Tahoma;
	font-size:10px;
	
}

#header {
    margin :                0;
    padding :               0;
    height:                 100px;
    background:             #900093 url(purple_xo-banner_bg.png) repeat-x left top;
    padding:                2px;
    color:                  #fff;
    border:                 1px solid #000;
}
#headerbanner {width: 100%; vertical-align: middle; text-align:center;}
#headerlogo img {padding: 0;}
#headerbar {border-bottom: 1px solid #ddd; background-image: url(hbar.gif);}


#leftcolumn {width: 190px; border-right: 1px solid #ccc; font-size:1em;border-left: 1px solid #ccc;}
#leftcolumn th {background-color: #900093; color: #fff; vertical-align: middle;}
#leftcolumn .blockTitle {padding: 4px; background-color: #ddd;background-image: url(images/purpleslate_backgroundOVER.gif); color: #ffffff; font-weight: bold;}
#leftcolumn .blockContent {padding: 3px; line-height: 1.2em;}

#leftcolumn2 {width: 250px; font-size:1em;padding-left: 5px; padding-right:3px;}
#leftcolumn2 div.blockTitle {padding: 4px; background-color: #ddd;background-image: url(images/blueslate_backgroundOVER.gif); color: #ffffff; font-weight: bold;}
#leftcolumn2 div.blockContent {padding: 3px; line-height: 1.2em;}

#centercolumn {font-size: 1em;}
#centercolumn th {background-color: #900093; color: #fff; vertical-align: middle;}

#centerCcolumn, #bottomCcolumn {padding: 0 3px 1px 3px;}
#centerCcolumn .blockTitle, #bottomCcolumn .blockTitle {padding: 3px; color: #900093; font-weight: bold; margin-top: 0; margin-right: 0;  margin-left: 0; font-size:1.1em;background-image: url(images/purpleslate_backgroundOVER.gif); color: #ffffff; font-weight: bold;}
#centerCcolumn .blockContent, #bottomCcolumn .blockContent {padding: 3px; margin-right: 0;  margin-left: 0; margin-bottom: 2px; line-height: 1.2em;}

#centerLcolumn, #bottomLcolumn, #centerRcolumn, #bottomRcolumn {
        width: 50%; padding: 0 3px 0 0;
}
#centerLcolumn .blockTitle, #bottomLcolumn .blockTitle, #centerRcolumn .blockTitle, #bottomRcolumn .blockTitle {
        padding: 3px; color: #900093; font-weight: bold; margin-top: 0;background-image: url(yellow_bg.png); color: #ffffff; font-weight: bold;
}
#centerLcolumn .blockContent, #centerRcolumn .blockContent, #bottomLcolumn .blockContent, #bottomRcolumn .blockContent {
        padding: 3px; margin-left: 2px; margin-right: 3px; margin-bottom: 2px; line-height: 1.2em;
}

#content {text-align: left; padding: 8px;}

#rightcolumn {width: 190px; border-left: 1px solid #ccc; font-size:1em;border-right: 1px solid #ccc;}
#rightcolumn th {background-color: #900093; color: #fff; vertical-align: middle;}
#rightcolumn .blockTitle {padding: 6px; background-color: #ddd;background-image: url(images/purpleslate_backgroundOVER.gif); color: #ffffff; font-weight: bold;}
#rightcolumn .blockContent {padding: 3px; line-height: 1.2em;}

#footerbar { background-image: url(hbar.gif); font-size:.9em; height : 23px;}
#footerbar td { vertical-align : middle; text-align:center;}

#mainmenu a {background-color: #ffffff; display: block; margin: 0; padding: 6px;background: url(icons/arrow.gif) no-repeat right;}
#mainmenu a:hover {background-color: #ffffff;}
#mainmenu a.menuTop {padding-left: 3px;  border-bottom: 1px dotted; solid #666;}
#mainmenu a.menuMain {padding-left: 3px;border-bottom: 1px dotted; #666;}
#mainmenu a.menuSub {padding-left: 9px; border-bottom: 1px dotted; #666;}

#usermenu {        font-size : .9em;}
#usermenu a {background-color: #ffffff; display: block; margin: 0; padding: 4px; border-bottom: 1px dotted #666;  font-weight : normal;}
#usermenu a:hover {background-color: #fff;}
#usermenu a.menuTop {border-top: 1px dotted #c0c0c0;}
#usermenu a.highlight {background-color: #fcc;}


caption {font-weight: bold;}
th, thead {background-color: #900093; padding : 2px; color: #dbdbdb; vertical-align : middle;}
.outer {border: 1px solid #dbdbdb;}
.head {background-color: #ffffff; padding: 5px; font-weight: bold;}
.even {background-color: #ffffff; padding: 5px;}
.odd {background-color: #ffffff; padding: 5px;}
.foot {background-color: #ffffff; padding: 5px; font-weight: bold;}
tr.even td {background-color: #ffffff; padding: 5px;}
tr.odd td {background-color: #ffffff; padding: 5px;}
tr.foot td {background-color: #ffffff; padding: 5px; color:inherit; font-weight: bold;}

.errorMsg,.confirmMsg, .resultMsg  { padding: .8em; text-align:center; margin-bottom: 1em; border: 2px solid #ddd;}
.errorMsg  { background-color: #FBE3E4; color: #D12F19; border-color: #FBC2C4; }
.confirmMsg { background-color: #FFF6BF; color: #817134; border-color: #FFD324; }
.resultMsg { background-color: #E6EFC2; color: #529214; border-color: #C6D880; }
.errorMsg a { background-color: transparent; color: #D12F19; }
.confirmMsg a { background-color: transparent; color: #817134; }
.successMsg a { background-color: transparent; color: #529214; }

.xoopsCode { background: #fff; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0 6px 6px 6px; height: 200px; overflow: auto; font-size:.9em;}
.xoopsQuote { background: #fff; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0 6px 6px 6px; font-size:.9em;}
blockquote {font-style : italic; line-height:1.4em;}

.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: .9em; color: #900093; font-weight:bold; border: 1px solid #c0c0c0; background-color: #fff; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; color: #900093; font-weight:bold; font-size: .9em;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: .9em;font-weight:bold;}
.comUserRankImg {border: 0;}
.comUserName a {color: #fff;}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: .8em;}
.comDateCaption {font-weight: bold; font-style: normal;}

/*============== Styles for system_siteclosed.html  (override system module) =================*/
#xo-siteclose {
    width:                  400px;
    margin:                 100px auto;
    background-color:       #e2e2e2;
    padding:                30px;
    color:                  #000;
    font-size:              1.2em;
    font-weight:            bold;
    text-align:             center;
    border:                 1px solid #666;
}
#xo-userbar_siteclosed {
    display:                block;
    background:             #900093 url(xo-banner_bg.png) repeat-x left top;
    padding-top:            2px;
    padding-right:          1em;
    color:                  #fff;
    font-size :             .8em;
    text-align :            center;
}
#xo-userbar_siteclosed form {
    display:                inline;
    padding:                0;
}

#xo-userbar_siteclosed input {
    width:                  50px;
    background-color:       transparent;
    color:                  #fff;
    font-size :             .9em;
}
#xo-userbar_siteclosed input:hover {}

/*============== Styles for system_redirect.html (override system module) =================*/
#xo-redirect {
    width:                  780px;
    margin:                 50px auto;
    padding:                1em;
    font-weight:            bold;
    text-align:             center;
}
#xo-redirect .notreload {
    height:                 28px;
    background-color:       inherit;
    padding-top:            2px;
    color:                  #000;
}
#xo-redirect .notreload a {
    background-color:       inherit;
    color:                  #ff0000;
    font-weight:            bold;
    text-decoration:        none;
}
#xo-redirect .message {
    min-height:             60px;
    background-color:       #f3f3f3;
    padding:                1em;
    color:                  #333;
    font-size:              1.2em;
    text-align:             center;
    border:                 1px solid #666;
}
#xo-redirect .message img{
    padding:                1em;
}
/*============== Styles for pagenav =================*/
#xo-pagenav {
    margin:                 7px 0;
    text-align:             center;
    font-size:              1.05em;
}
#xo-pagenav a {
    text-decoration:        none;
}
#xo-pagenav a:hover {
    color:                  #fff;
    background-color:       #900093;
    border:                 1px solid #fff;
}
.xo-pagact {
    margin:                 0;
    padding:                .2em .5em;
    color:                  #fff;
    background-color:       #900093;
    border:                 1px solid #fff;
}
.xo-counterpage, .xo-pagarrow {
    margin:                 0;
    padding:                .2em .5em;
    color:                  #000;
    background-color:       #fff;
    border:                 1px solid #000;
}
.xo-counterpage:hover {}
.xo-pagarrow {
    letter-spacing:         0.2em;
}
/*======= Tinymce background textarea ========*/
body.mceContentBody {
    margin:                 0;
    padding:                0;
    background-color:       #fff;
    background-image:       none;
    color:                  #000;
}
/* ---------------------- grey nav ---------------------- */
.grey #slatenav{position:relative;display:block;height:42px;font-size:12px;font-weight:bold;background:transparent url(images/greyslate_background.gif) repeat-x top left;font-family:Tahoma;text-transform:uppercase;}
.grey #slatenav ul{margin:0px;padding:0;list-style-type:none;width:auto;}
.grey #slatenav ul li{display:block;float:left;margin:0 1px 0 0;}
.grey #slatenav ul li a{display:block;float:left;color:#ffffff;text-decoration:none;padding:14px 22px 0 22px;height:28px;}
.grey #slatenav ul li a:hover,.grey #slatenav ul li a.current{color:#fff;background:transparent url(images/purpleslate_backgroundOVER.gif) no-repeat top center;}
/* ---------------------- END grey nav ---------------------- */